<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2.My.MySettings.PRESENTACION_FINALConnectionString"
            connectionString="Data Source=LAPTOP-KQ1NP551;Initial Catalog=PRESENTACION_FINAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.FINAL_DATOS_UNIDADConnectionString"
            connectionString="Data Source=LAPTOP-KQ1NP551;Initial Catalog=FINAL_DATOS_UNIDAD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.LIGA_01_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=LIGA_01_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>